{% extends "layout.html" %}

{% block title %}
Django Tweet
{% endblock title %}

{% block content %}
<h2>
    {% if form.instance.pk %} 
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
</h2>

<form action="{% if form.instance.pk %}{% url 'tweet_edit' form.instance.pk %}{% else %}{% url 'tweet_create' %}{% endif %}" method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }} 
    <button class="btn btn-warning" type="submit">Submit</button>
</form>

<a href="{% url 'tweet_list' %}">Back to tweet list</a>
{% endblock %}
